<div id="footer-wrapper">
  <footer id="footer" class="container">
    <div class="row">
      <div class="col-12">
        <div id="copyright">
          <ul class="menu">
            <li>© Copyright 2025 All Rights Reserved.</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
